// Rounding
$shapes: (
  "no-rounding": 0em,
  "extra-small-rounding": 0.25em,
  "small-rounding": 0.5em,
  "medium-rounding": 0.75em,
  "large-rounding": 1em,
  "extra-large-rounding": 1.75em,
  "fully-rounding": 100vh,
);

$no-rounding: 0em;
$extra-smallrounding: 0.25em;
$small-rounding: 0.5em;
$medium-rounding: 0.75em;
$large-rounding: 1em;
$extra-largerounding: 1.75em;
$fully-rounding: 100vh;
