// for creating utility classes
$sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 0.875rem,
  5: 1rem,
  6: 1.25rem,
  7: 1.5rem,
  8: 1.75rem,
  9: 2rem,
  10: 2.5rem,
  11: 3rem,
  12: 4rem,
  13: 5rem,
  14: 6rem,
  15: 8rem,
  16: 10rem,
);

// for use in the code base
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 0.875rem;
$size-5: 1rem;
$size-6: 1.25rem;
$size-7: 1.5rem;
$size-8: 1.75rem;
$size-9: 2rem;
$size-10: 2.5rem;
$size-11: 3rem;
$size-12: 4rem;
$size-13: 5rem;
$size-14: 6rem;
$size-15: 8rem;
$size-16: 10rem;
