$-ff-sans: system-ui, sans-serif;
$-ff-serif: serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "small": (
    "900": 3.75rem,
    "800": 2.25rem,
    "700": 1.75rem,
    "600": 1.125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
  "large": (
    "900": 3.75rem,
    "800": 3rem,
    "700": 1.75rem,
    "600": 1.3125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
);

$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;

/* ----------------- MINE ------------------- */

// FONT SIZE
$fs-display-large: 3.5625rem;
$fs-display-medium: 2.8125rem;
$fs-display-small: 2.25rem;

$fs-headline-large: 2rem;
$fs-headline-medium: 1.75rem;
$fs-headline-small: 1.5rem;

$fs-title-large: 1.375rem;
$fs-title-medium: 1rem;
$fs-title-small: 0.875rem;

$fs-label-large: 0.875rem;
$fs-label-medium: 0.75rem;
$fs-label-small: 0.6875rem;

$fs-body-large: 1rem;
$fs-body-medium: 0.875rem;
$fs-body-small: 0.75rem;

// FONT WEIGHT
$fw-display-large: 400;
$fw-display-medium: 400;
$fw-display-small: 400;

$fw-headline-large: 400;
$fw-headline-medium: 400;
$fw-headline-small: 400;

$fw-title-large: 400;
$fw-title-medium: 500;
$fw-title-small: 500;

$fw-label-large: 500;
$fw-label-medium: 500;
$fw-label-small: 500;

$fw-body-large: 400;
$fw-body-medium: 400;
$fw-body-small: 400;

// LINE HEIGHT
$lh-display-large: 4rem;
$lh-display-medium: 3.25rem;
$lh-display-small: 3.75rem;

$lh-headline-large: 2.5rem;
$lh-headline-medium: 2.25rem;
$lh-headline-small: 2rem;

$lh-title-large: 1.75rem;
$lh-title-medium: 1.5rem;
$lh-title-small: 1.25rem;

$lh-label-large: 1.25rem;
$lh-label-medium: 1rem;
$lh-label-small: 1rem;

$lh-body-large: 1.5rem;
$lh-body-medium: 1.25rem;
$lh-body-small: 1rem;

// LINE SPACING
$ls-display-large: -0.01563rem;

$ls-title-medium: 0.00938rem;
$ls-title-small: 0.00625rem;

$ls-label-large: 0.00625rem;
$ls-label-medium: 0.03125rem;
$ls-label-small: 0.03125rem;

$ls-body-large: 0.03125rem;
$ls-body-medium: 0.01563rem;
