@use "../abstracts" as *;

$gap: $size-4;

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $gap;

  padding: $gap;

  section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $gap;

    .action-panel{
      display: grid;
      grid-template-columns: 1fr auto;
      gap: $size-4;

      .status{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $size-2;
        background-color: map-get($map: $light, $key: "surface-container-high");
        padding-inline: $size-4;
        border-radius: $fully-rounding;
        font-size: $fs-body-medium;

        &span{
          display: grid;
          place-content: center;
        }
      }
    }

    .panels {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gap;
    }
  }
}
