.next                                                                   
node_modules
public

bun.lockb*
.eslintrc.json
.gitignore
.prettierrc.json
LICENSE
README.md
next-env.d.ts
next.config.js
package.json 
postcss.config.js 
tailwind.config.ts
tsconfig.json
