@use "../abstracts/" as *;

.keyValueListContainer {
  inline-size: 100%;

  .keyValueListRow {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    align-items: center;
    gap: $size-2;
    padding: $size-4;
    border-radius: $large-rounding;

    &:hover {
      background-color: map-get($map: $light, $key: "surface-container-high");
    }

    .keyValueListInput {
      input {
        inline-size: 100%;
        border-radius: $medium-rounding;
        padding: 0 10px;
        font-size: 15px;
        line-height: 1;
        height: 35px;
        border: none;

        &:focus {
          box-shadow: 0 0 0 2px map-get($map: $light, $key: "primary");
        }
      }
    }

    .keyValueListCheckBox {
      button {
        all: unset;
      }

      .CheckboxRoot {
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: $small-rounding;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: map-get($map: $light, $key: "surface-container");
        }
        &:focus {
          box-shadow: 0 0 0 2px map-get($map: $light, $key: "primary");
        }

        .CheckboxIndicator {
          color: map-get($map: $light, $key: "primary");
          block-size: 100%;
          inline-size: 100%;

          display: grid;
          place-content: center;
        }
      }
    }

    .keyValueListButton {
      button {
        all: unset;
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: $small-rounding;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: map-get($map: $light, $key: "surface-container");
        }
        &:focus-within {
          box-shadow: 0 0 0 2px map-get($map: $light, $key: "primary");
        }

        span {
          block-size: 100%;
          inline-size: 100%;

          display: grid;
          place-content: center;
        }
      }
    }
  }
}
