@use "../abstracts/" as *;

.tabs {
  .tabs-list {
    .tab {
      padding: $size-2 $size-4;
      border: none;
      border-radius: 0;

      background-color: map-get($map: $light, $key: "surface-container-low");

      font-size: $fs-body-medium;

      &:hover {
        background-color: map-get($map: $light, $key: "surface-container-high");
      }

      &.Mui-selected {
        background-color: map-get(
          $map: $light,
          $key: "surface-container-highest"
        );
        border-block-end: 2px solid map-get($map: $light, $key: "primary");
      }
    }
  }

  .tab-panel {
    padding: $size-4;
  }
}
