html,
body,
#root,
.playground-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #efefef;
}

.playground-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.playground-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-container {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.cm-outer-container {
  flex: 1;
  width: 100%;
}

.cm-editor {
  flex: 1;
  height: 100%;
  position: relative; /* <-- .cm-scroller absolute positioning depends on this*/
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.cm-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.action-panel {
  display: grid;
  grid-template-columns: 70vw auto;
  grid-template-rows: 1fr;
  gap: 4rem;
}

.config-panels-container {
  overflow-y: auto;
}

.config-panels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.tabby1,
.tabby2 {
  overflow: auto;
}

.keyValueListContainer {
  overflow: auto;
  height: 75vh;
  max-height: 75vh;
}

.input-error {
  display: none;

  padding: 0.3rem 0.7rem;
  margin: 0 auto;
  background-color: #ef4444;
  color: #fee2e2;
  border-radius: 0.4rem;

  font-size: 0.7rem;
}

.req-body-container {
  position: relative;
}

.select-component {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 9999;
}

@media screen and (max-width: 640px) {
  body {
    overflow-y: scroll;
  }

  .action-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .config-panels {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
